AdolaDEVMeta/force-app/main/default/flows/Address_Creation_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>CheckExists</name>
        <label>CheckExists</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Create_Account_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exists</defaultConnectorLabel>
        <rules>
            <name>NotExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Location.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateAddress</targetReference>
            </connector>
            <label>NotExists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Address Creation - Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Address Creation - Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Account_Address</name>
        <label>Create Account Address</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>UpdateAccount</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_Custom__c</field>
            <value>
                <elementReference>Get_Location.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Area_Status__c</field>
            <value>
                <elementReference>Get_Location.Location__r.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Address_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateAccountAddress</name>
        <label>CreateAccountAddress</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_Custom__c</field>
            <value>
                <elementReference>AddressId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Area_Status__c</field>
            <value>
                <elementReference>Get_Location.Location__r.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Address_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateAddress</name>
        <label>CreateAddress</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>CreateAccountAddress</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__City__s</field>
            <value>
                <elementReference>$Record.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__CountryCode__s</field>
            <value>
                <stringValue>FI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__PostalCode__s</field>
            <value>
                <elementReference>$Record.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__Street__s</field>
            <value>
                <elementReference>$Record.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <stringValue>1310D0000005KNhQAM</stringValue>
            </value>
        </inputAssignments>
        <object>Address__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Location</name>
        <label>Get Address</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Address__Street__s</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ShippingStreet</elementReference>
            </value>
        </filters>
        <filters>
            <field>Address__City__s</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ShippingCity</elementReference>
            </value>
        </filters>
        <filters>
            <field>Address__CountryCode__s</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Address__PostalCode__s</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ShippingPostalCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Address__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAccount</name>
        <label>UpdateAccount</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Location.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Address__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Location</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AddressId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>CreateAddress</elementReference>
        </value>
    </variables>
</Flow>
