AdolaDEVMeta/force-app/main/default/flows/B2C_Sales_Assign_sales_rep_Id.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_sales_rep_id</name>
        <label>Set sales rep ID</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>order.Created_By_Sales__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>order.Sales_person__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>salesRepId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_order_record</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>B2C Sales: Assign sales rep Id {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2C Sales: Assign sales rep Id</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_order_record</name>
        <label>Update order record</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <inputReference>order</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_sales_rep_id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>salesRepId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
