AdolaDEVMeta/force-app/main/default/flows/Bartu_Test_Order_Address_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Is_running_test</name>
        <label>Is running test?</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <actionName>KiwiUtils</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_test</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <outputParameters>
            <assignToReference>IsRunningTest</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Is_test</name>
        <label>Is test?</label>
        <locationX>176</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Create_Sdoc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsRunningTest</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Bartu Test Order Address Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bartu Test Order Address Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Sdoc</name>
        <label>Create Sdoc</label>
        <locationX>308</locationX>
        <locationY>935</locationY>
        <inputAssignments>
            <field>SDOC__Doclist__c</field>
            <value>
                <stringValue>Tilausvahvistus</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDOC__ObjApiName__c</field>
            <value>
                <stringValue>Order</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDOC__Oid__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDOC__SendEmail__c</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDOC__Start__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SDOC__SDJob__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Address_Id</name>
        <label>Get Address Id</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Address_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Address__City__s</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.ShippingCity</elementReference>
            </value>
        </filters>
        <filters>
            <field>Address__Street__s</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.ShippingStreet</elementReference>
            </value>
        </filters>
        <filters>
            <field>Address__PostalCode__s</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.ShippingPostalCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Address__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Order_Address_Update</name>
        <label>Order - Address Update</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Get_Address_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.Account.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>$Record.Account.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingEmailAddress</field>
            <value>
                <elementReference>$Record.Account.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.Account.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>$Record.Account.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>$Record.Account.ShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>$Record.Account.ShippingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>$Record.Account.ShippingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>$Record.Account.ShippingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Address_Id</name>
        <label>Update Address Id</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Is_running_test</targetReference>
        </connector>
        <inputAssignments>
            <field>Address_Custom__c</field>
            <value>
                <elementReference>Get_Address_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Status__c</field>
            <value>
                <elementReference>Get_Address_Id.Location__r.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>Get_Address_Id.Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Order_Address_Update</targetReference>
        </connector>
        <object>Order</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>IsRunningTest</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
