AdolaDEVMeta/force-app/main/default/flows/CASE_TRG_AfterSave.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Autoreply_to_SuppliedEmail_when_Case_has_been_created</name>
        <label>Autoreply to SuppliedEmail when Case has been created</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>Case.CaseAutoreplyToSuppliedEmail</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Email_Message</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>chatterPost_Kiitos_viestistasi</name>
        <label>Kiitos viestistäsi!</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>decision_Owner_is_a_User</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>EmailTemplate_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visibility</name>
            <value>
                <stringValue>internalUsers</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>assignment_Add_Reopened_Count</name>
        <label>Add Reopened Count</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Reopened_Count__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_Set_First_Closed_Date</name>
        <label>Set First Closed Date</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.First_Closed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_Set_Owner_Assigned_Date</name>
        <label>Set Owner Assigned Date</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>$Record.Owner_Assigned_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision_Created_by_Admin</name>
        <label>Created by Admin?</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>decision_Owner_is_a_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outcome_Created_by_Admin_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Autoreply_to_SuppliedEmail_when_Case_has_been_created</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_IsClosed_Changed</name>
        <label>IsClosed Changed?</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outcome_IsClosed_Changed_To_True_First_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.First_Closed_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignment_Set_First_Closed_Date</targetReference>
            </connector>
            <label>To True (Case closed - First Time)</label>
        </rules>
        <rules>
            <name>outcome_IsClosed_Changed_To_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignment_Add_Reopened_Count</targetReference>
            </connector>
            <label>To False (Case reopened)</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_IsNew</name>
        <label>IsNew?</label>
        <locationX>512</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>decision_Owner_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>outcome_IsNew_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_Created_by_Admin</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Owner_Changed</name>
        <label>Owner Changed?</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>decision_IsClosed_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>To_User_First_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner_Assigned_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignment_Set_Owner_Assigned_Date</targetReference>
            </connector>
            <label>To User (First Time)</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Owner_is_a_User</name>
        <label>Owner is a User?</label>
        <locationX>182</locationX>
        <locationY>1151</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outcome_Owner_is_a_User_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>assignment_Set_Owner_Assigned_Date</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formula_IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>CASE TRG AfterSave {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CASE TRG AfterSave</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Email_Message</name>
        <label>Create Email Message</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Create_EmailMessageRelation</targetReference>
        </connector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>tommi.seppala@fluidogroup.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>EmailTemplate_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SystemEmail__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TextBody</field>
            <value>
                <elementReference>EmailTemplate_Body</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_EmailMessageRelation</name>
        <label>Create EmailMessageRelation</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>chatterPost_Kiitos_viestistasi</targetReference>
        </connector>
        <inputAssignments>
            <field>EmailMessageId</field>
            <value>
                <elementReference>Create_Email_Message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelationAddress</field>
            <value>
                <stringValue>tommi.seppala@fluidogroup.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelationId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelationType</field>
            <value>
                <stringValue>ToAddress</stringValue>
            </value>
        </inputAssignments>
        <object>EmailMessageRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>842</locationX>
        <locationY>1007</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>decision_IsNew</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailTemplate_Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>(Tämä viesti lähetettiin automaattisesti)

Hei,

Kiitos yhteydenotostasi. Olemme vastaanottaneet viestisi ja olemme sinuun yhteydessä mahdollisimman pian.

Tapaus: {!$Record.CaseNumber}
Aihe: {!$Record.Subject}

 {!$Record.Description}

----------------------------------------------------
Ystävällisin terveisin

Valoo Täyskuitu asiakaspalvelu
Puh. 09 31543060 (ark. 8-18 ja la 10-16)
www.valoo.fi</text>
    </textTemplates>
    <textTemplates>
        <name>EmailTemplate_Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>(Automaatio): Kiitos viestistäsi!</text>
    </textTemplates>
</Flow>
