AdolaDEVMeta/force-app/main/default/flows/Invoice_PE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Invoice_Email</name>
        <label>Invoice Email</label>
        <locationX>681</locationX>
        <locationY>776</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>InvoiceQuery</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>iyappan.ms@fluidogroup.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Here is the Query </stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>InvoiceQuery</name>
        <dataType>String</dataType>
        <expression>{!$Label.BaseUrl}+{!$Label.InvoiceQuery}+&quot;&apos;&quot;+{!$Record.Id}+&quot;&apos;&quot;</expression>
    </formulas>
    <interviewLabel>Invoice PE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Invoice PE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Invoice_PE</name>
        <label>Invoice PE</label>
        <locationX>584</locationX>
        <locationY>456</locationY>
        <connector>
            <targetReference>Invoice_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>Invoice_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Query__c</field>
            <value>
                <elementReference>InvoiceQuery</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Invoice_PE</targetReference>
        </connector>
        <object>Invoice</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
