AdolaDEVMeta/force-app/main/default/flows/Order_Confirmation_Mail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Order_Confirmation_Mail</name>
        <label>Send Order Confirmation Mail</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <actionName>Order.Order_Confirmation</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_and_Close_Opportunity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>CloseDate</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Order Confirmation Mail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Confirmation Mail</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_S_Doc_Job</name>
        <label>Create S-Doc Job</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Send_Order_Confirmation_Mail</targetReference>
        </connector>
        <inputAssignments>
            <field>SDOC__Doclist__c</field>
            <value>
                <stringValue>a090D000003BhjAQAS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDOC__ObjApiName__c</field>
            <value>
                <stringValue>Order</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDOC__Oid__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDOC__SendEmail__c</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDOC__Start__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SDOC__SDJob__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_and_Close_Opportunity</name>
        <label>Update and Close Opportunity</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>$Record.Address_Custom__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>$Record.GrandTotalAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Status__c</field>
            <value>
                <elementReference>$Record.Location_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>$Record.Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Creation_Date__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Status__c</field>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Place_Of_Use_Status__c</field>
            <value>
                <elementReference>$Record.Address_Custom__r.Status_Test__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Place_Of_Use__City__s</field>
            <value>
                <elementReference>$Record.ShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Place_Of_Use__CountryCode__s</field>
            <value>
                <stringValue>FI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Place_Of_Use__PostalCode__s</field>
            <value>
                <elementReference>$Record.ShippingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Place_Of_Use__Street__s</field>
            <value>
                <elementReference>$Record.ShippingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_S_Doc_Job</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
